@import "../../shared";

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 550px;
  height: 100vh;
  flex-direction: column;
  margin: 20px auto;

  &__button {
    padding: 1rem;
    cursor: pointer;
    border: 10px solid #cdb4db;
    border-radius: 5px;
  }
}